#home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    gap: 1rem;
    height: calc(100vh - 60px - 60px);
}

#home-page-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customize-quiz-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #e4daff;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-out;
}


#customize-quiz-button {
    background: linear-gradient(351deg, #7a38ff 28.31%, #fa9ffe 115.63%);
    color: white;
    border-radius: 1rem;
}

#customize-quiz-card, #suggested-review-container {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

#suggested-review-container {
    position: relative;
    display: grid;
    place-items: center;
    height: 30%;
    border-radius: 5px;
    
}

.suggestion-header {
    width: 90%;
    text-align: center;
    margin: .25rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.suggestion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
  }
  
.suggestion-name {
font-weight: bold;
font-size: 1rem;
}

.suggestion-value {
font-size: 0.9rem;
color: #666;
}
  